* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'AR One Sans', sans-serif;
    position: relative;
    padding-bottom: 120px;
    min-height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1608754482805-6f630357358b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&w=1000&q=80); 
}

header {
    background-color: rgba(7, 11, 38, 1);
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.2rem;
    font-size: 1.5rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 4px;
    padding: 5px;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #FFF;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: rgba(216, 78, 115, 1);
}

main{
    padding: 1% 15% 1% 15%;

}

.contenedor {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-areas:
    'izq main main main'
    'izq main main main'
    'izq main main main'
    'izq main main main'
    ;
}

.item1 {
    grid-area: izq;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.item1 li {
    margin-top: 10%;
    margin-left: 2%;
    text-align:left;
}

.item1 h3 {
    text-align: center;
    background-color: rgba(216, 78, 115, 1);
    color: azure;
}

.item2 {
    grid-area: main;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    padding: 10px;
    background-color: rgba(14, 22, 63, 1);
}
h2{
    margin: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(7, 11, 38, 1);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    margin: 0;
    font-size: medium;
}

h3, ul {
    margin: 10px;
}
table,td,th{
    border: 1px solid black;
}
form {
    border-radius: 5px;
    margin: 3% 15%;
    background-color: #f2f2f2;
    padding: 3%;
    font-size: small;
}


label, input{
    margin: 20px 0 20px 0;
}
input[type=text]{
    width: 250px;
}
input[type=button] {
    font-size: large;
    width: 30%;
    background-color: white;
    color: rgba(216, 78, 115, 1);
    padding: 14px 20px;
    margin: 20px 0;
    border-width: 2px;
    border-color: rgba(216, 78, 115, 1);
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}
#boton{
    text-align: center;
}
input[type=button]:hover {
    background-color: rgba(216, 78, 115, 1);
    color: white;
}

.caption {
    font-size: 10pt;
    margin-bottom: 20px;
    color: #030591;
    padding: 0 8px;
}
  
  #tierra {
    background:url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/earth-2.jpg);
    background-size:cover;
    border:1px solid #000;
    border-radius:50%;
    width:200px;
    height:200px;
    animation: movimiento 5s linear 0s infinite;
    margin:1rem auto;
  }
  
  @keyframes movimiento {
    0% { background-position:0 0 }
    100% { background-position:355px 0 }
  }

.sol_img{
    max-width: 100%;
}

.nasa_img{
    max-width: 100%;
}


iframe{
    text-align: center;
    margin: auto;
    padding: 30px;
}

@media(max-width: 480px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu li {
        margin-bottom: 10px;
    }
    form { 
        margin: 0;
        padding: 0;
    } 

    .contenedor{
            margin: 0;
            padding: 0;
            grid-template-areas: 
            'main'
            'izq'
            ;
            grid-template-columns: 100%;
            
        }
    }
    iframe{
        width: 100%;
    }
    

@media (max-width: 768px){
    .contenedor{

        margin: 0;
        padding: 0;
        grid-template-areas: 
        'main'
        'izq'
        ;
        grid-template-columns: 100%;
        
    }
    .menu {
        flex-direction: column;
        flex-wrap: wrap; justify-content: space-between; align-items: flex-end;

    }

    .menu li {
        margin-bottom: 10px;
    }
    form {
        margin: 0;
        padding: 0;
    }
    iframe{
        width: 100%;
    }

}

@media (max-width: 900px){
    .menu {
        display: block; width: auto;
    }
    form {
        margin: 0;
        padding: 0;
    }
}

.video {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
    }
    
    .video iframe,
    .video object,
    .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }